.ouvert{
    width: 20px;
    height: 20px;
}
.fermer{
    width: 20px;
    height: 20px;
}

.apropos2 {
    display: flex;
    justify-content: space-around;
}

.dropHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    background: #FF6060;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}
.dropHead h1 {
    font-size: 24px;
    font-weight: 500;
}
span.chevronDown {
    align-items: center;
    display: flex;
    color: white;
}
.dropText {
    max-width: 1050px;
    background: #F7F7F7;
    border-radius: 0px 0px 5px 5px;
    padding: 10px 5px;
    padding: 15px 10px 5px 10px;
    font-size: 24px;
    font-weight: 200;
    color: #FF6060;
    line-height: 34px;
}



@media  screen and (max-width: 428px) {

    .details .dropHead{
        width: 290px;
    }
    .details .dropText{
        width: 290px;
        font-size: 15px;
    }
    .dropHead h1{
        font-size: 17px;
    }
}