

.error-page{
    color:#FF6060;
    position: relative;
    height: 1024px;
}

.number-of-error{
    display: flex;
    font-size: 288px;
    justify-content: center;
    margin-top: 150px ;
    margin-bottom: 60px;
}


.error-message{
    display: block;
        margin: auto;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        font-size: 36px;
}
.return{
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    margin-top: 180px;
    margin-bottom: 100px;
    text-decoration: underline;
    color: #FF6060;

}


@media  screen and (max-width:375px) {

   

    .number-of-error{
        font-size: 120px;
    }

    .error-message{
        font-size: 18px;
    }
    

 
}