.headerPart {
    display: flex;
  justify-content: space-between;

    img{
        width: 200px;
        margin-left: 50px;
        margin-top: 10px;
    }
        
    }

    ul li {
        margin-right: 20px;
        display: inline-block;
        color: #ff6060;
        font-size: 20px;
    }

@media screen and(max-width:375px){

    .headerPart{
      a{
          img{
              width: 85%;
              margin-left: 30px;
          }

      }

      ul {
          margin-right: 15px;
      }
    }
}
    



    

