.headerPart {
 display: flex;
 justify-content: space-between;

    img{
        margin-top:40px;
        margin-left: 100px;
    }
  
        
    }

    ul{
        margin-right: 250px;
        margin-top: 80px;
    }
  

    ul li {
        margin-right: 20px;
        display: inline-block;
        color: #ff6060;
        font-size: 20px;
    }

@media screen and(max-width:375px){

    .headerPart{
        display: flex;
      a{
          img{
              width: 100%;
              margin-top: 50px;
              margin-left: 25px;
            
          }

      }

      ul {
        margin-right: 5px;
          li{
              white-space: nowrap;
             margin-right: 20px;
          }
      }
    }
}
    



    

