.Homepage{

.BanniereAccueil{
    position: relative;
  
    img{

       display: block;
       margin: auto;
       width: 900px;
       height: 200px;
       object-fit: cover;
       height: 200px;
       border-radius: 30px;
       margin-top: 80px;
    }

    .textBanniere{
        position: absolute;
        top: 50px;
        left: 680px;
        display: block;
        font-size: 30px;
        color: #ffff;
        font-family: "Montserrat";

    }

   
}

.ContainerAppartement{
  display: flex;
  justify-content: center;
   
 
    
    img{
        width: 340px;
        height: 340px;
        margin-top: 80px;
       
    }
}

}