.headerPart {
    a {
        text-decoration: none;
        color: #ff6060;
    }
}

.Homepage {
    .Banner {
        margin-top: 50px;
    }

    .BanniereAccueil {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-image: url("../media/Montagnes.png");
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 24px;
        max-width: 1440px;
        margin: auto;
        background-size: cover;

        img {
            display: block;
            margin: auto;
            width: 100%;
            border-radius: 30px;
            margin-top: 80px;
        }

        .textBanniere {
            text-align: center;
            display: block;
            font-size: 30px;
            color: #f1f1f1;
            font-family: "Montserrat";
        }
    }


    .ContainerAppartement {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            margin-top:50px;
            height: 80%;
           
        }
        .listAppartment {
           width: 100%;
            .appartmentPosition {
                a {
                    text-decoration: none;
                    color: #ff6060;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    body {
        height: 100vh;
    }

    .headerPart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
            margin-left: 0px;
        }

        ul {
            display: flex;
        }
    }

    .Homepage {
        .BanniereAccueil {
            display: flex;
            justify-content: flex-start;
            // width: 90%;
            // display: block;
            margin: auto;
            img {
                margin-top: 20px;
            }
            .textBanniere {
                display: block;
                width: 50%;
                color: black;
                white-space: pre-wrap;
                font-size: 24px;
                margin-left: 20px;
            }
        }

        .ContainerAppartement {
            .listAppartment {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
